@{
    ViewBag.Title = "Home Page";
}

<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
    </ol>
</nav>
